.content-tudo{
    margin: 9% 0px 0px 5%;
    display: flex;
    width: 90%;
    height: 500px;
    -webkit-box-shadow: 1px 1px 50px 0px #4A99D3;
}

.content-tudo-add-project{
    margin: 9% 0px 0px 5%;
    display: flex;
    width: 90%;
    height: 600px;
    -webkit-box-shadow: 1px 1px 50px 0px #4A99D3;
}
.content-tudo-add-empresa{
    margin: 9% 0px 0px 25%;
    display: flex;
    width: 50%;
    height: 60%;
    -webkit-box-shadow: 1px 1px 50px 0px #4A99D3;
}

.espacamento {
    height: 100px;
}


.cont-one{
    background-color:#2343C4;
    width: 50%;
}
.cont-one h1{
    padding: 120px 100px 0px 100px;
    color: white;
    font-size: 60px;
}
.cont-two-login,
.cont-two{
    width: 50%;
}
.cont-two-login{
    margin: 5% 5% 5% 5%;
}
.cont-two-login h2,
.cont-two h2{
    text-align: center;
    padding-top: 30px;
    color: #4A99D3;
    text-decoration: underline;
}

.cont-two-empresa {
    width: 50%;
    margin: 5% 5% 5% 22%;
}
.cont-two-empresa h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    color: #2343C4;
}
.cont-info{
    margin: 20px 50px 0px 100px;
    height: 150px;
}
.input_info{
    width: 80%;
    padding: 12px 20px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.cont-two-login button,
.cont-two button{
    margin: 2% 30% 0px 30%;
}

