.content-tudo,
.content-tudo-cad,
.content-tudo-login{
    margin: 10% 25% 5% 25%;
    width: 50%;
    border-radius: 10px;
    height: 640px;
    -webkit-box-shadow: 1px 1px 50px 0px #4A99D3;
}
.content-tudo-login{
    height: 500px;
}
.content-tudo-cad{
    height: 1100px;
}
.content-tudo-cad form{
    padding: 10px 40px 10px 10px;
}
.content-tudo-login form,
.content-tudo form{
    padding: 10px 40px 10px 40px;
}
.content-tudo-cad h1,
.content-tudo-login h1,
.content-tudo h1{
    padding: 40px 40px 10px 40px;
    text-align: center;
}
.content-tudo-cad input,
.content-tudo-login input,
.content-tudo input{
    width: 90%;
    padding: 10px 10px 10px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn_global{
    background-color: #0DAEB6;
    border-radius: 56px;
    font-weight: bold;
    height: 54px;
    width: 136px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0% 50% 0% 32%;
}








/* .espacamento {
    height: 100px;
}

.cont-one{
    background-color:#2343C4;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.cont-one h1{
    padding: 120px 100px 0px 100px;
    color: white;
    font-size: 60px;
}
.cont-two-login,
.cont-two{
    width: 50%;
}
.cont-two-login{
    margin: 5% 5% 5% 5%;
}
.cont-two-login h2,
.cont-two h2{
    text-align: center;
    padding-top: 30px;
    color: #4A99D3;
    text-decoration: underline;
}

.cont-two-empresa {
    width: 50%;
    margin: 5% 5% 5% 22%;
}
.cont-two-empresa h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    color: #2343C4;
}
.cont-info{
    margin: 20px 50px 0px 100px;
    height: 150px;
}


 */